/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #f3f0eb;
	color: #231f20;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 500;
}

.sans-serif {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-style: normal;	
	font-weight: 500;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 70px 0;
	position: relative;
	width: 100%;	
}

.container > * {
	margin-left: -20px;
}

.grey-bg {
	background-color: #cfd1d2;
	display: block;
	height: 100%;
	left: -750px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

header {
	align-items: center;
	display: flex;	
}

header h1 {
	padding: 45px 0 0 100px;
}

header img, header h1 {
	z-index: 2;
}

header img {
	height: 157px;
	width: 235px;
}

.img-block {
	display: flex;
	justify-content: space-between;	
	position: relative;
	margin: 2rem auto;
	max-width: 630px;
	padding-left: 4.5rem;
	width: 100%;
	z-index: 2;
}

.email-signup {
	align-items: center;
	display: flex;
	padding-left: 8.2rem;
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 630px;
}

.email-signup > * {
	margin: 0;
	padding: 0;
}

.email-signup > p {
	padding-right: 3%;
	width: 33%;
}

.form {
	width: 67%;
}

.form label {
	display: none;
}

form {
	display: flex;
}

input[type=submit] {
	background-color: #858585;
	border: none;
	color: #f3f0eb;
	cursor: pointer;
	outline: none;
	padding: 18px 10px;
	margin: 0;
	transition: all 100ms linear;
	width: 20%;
	display: block;
	margin-left: 5px;
	position: relative;
	min-width: 135px;
}

input[type=submit]:hover {
	background-color: #464646;
	transition: all 100ms linear;
}

input[type=text], input[type=email] {
	border: 1px solid transparent;
	height: 40px;
	padding: 5px 10px;
	width: 80%;
	display: block;
	position: relative;
}

input:focus {
	border: 1px solid #cfd1d2;
}

.img-block.location {
	margin-top: 3rem;
}

a {
	color: #231f20;
}

a:hover {
	color: #0b6592;
}

a img {
	border: none;
	outline: none;
}

p {
	font-size: 1.6rem;
	letter-spacing: 0.075rem;
	line-height: 1.3em;
	margin: 1.6rem 0;
	padding: 1rem 0 1rem 8.2rem;
	position: relative;
	z-index: 2;
}

.small {
	font-size: 0.8em;	
	letter-spacing: 0.225rem;
}

img {
	max-width: 100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 880px) {
	.container {
		margin: 0;
		padding: 55px 0;
	}
    .container > * {
		margin-left: 0;
	}
	
	header {
		padding: 0 34px;
	}
	
	header h1 {
		padding-left: 13%;	
	}
	
	article {
		padding-left: 10rem;
	}
	
	p {
		padding: 1rem 2rem 1rem 0;
	}
	
	.grey-bg {
		left: 0;
		width: 105px;
	}
	
	.img-block {
		display: table;
		margin: 0;
		max-width: 94%;
		padding-left: 0;
	}

	.img-block a {
		display: inline-block;
		padding-left: 4%;
		position: relative;
		width: 30%;
	}
	
	.img-block img {
		max-width: 100%;
	}
	
	.img-block a:first-child {
		padding-left: 0;
	}

	.email-signup {
		flex-wrap: wrap;
		padding: 2rem 0 0 0;
		max-width: 94%;
	}

	.email-signup > p {
		padding-bottom: 1rem;
		width: 100%;
	}

	.form {
		width: 100%;
	}
}

@media only screen and (max-width: 660px) {
	.sans-serif {
		font-size: 0.85rem;
	}
	
	header {
		margin-bottom: -10px;
	}
	
	header img {
		height: 126px;
		width: 188px;
	}
	
	header h1 {
		padding-left: 10%;	
		padding-top: 38px;
	}
	
	article {
		padding-left: 8.5rem;
	}
	
	p {
		font-size: 1.5rem;
		margin: 0.8rem 0;
		padding: 0.5rem 3rem 1rem 0;
	}
	
	.grey-bg {
		width: 90px;
	}
}

@media only screen and (max-width: 560px) {
	.img-block {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;	
		max-width: 84%;
	}
	
	.img-block a {
		display: block;
		width: 187px;
		height: auto;
		margin: 0 auto 2rem;
		padding: 0;
	}

	.email-signup, .img-block.location {
		max-width: 88%;
	}

	form {
		flex-wrap: wrap;
	}

	input[type="text"], input[type="email"] {
		width: 100%;
	}

	input[type=submit] {
		margin: 1rem auto 0;
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.sans-serif {
    	font-size: 0.75rem;
	}

	.container {
		padding: 0 0 40px;
	}
	
	header {
		background-color: #cfd1d2;
		padding: 40px 2rem 20px;
	}
	
	header img {
		width: 80%;
		height: auto;
		min-width: 80px;
	}
	
	article {
		padding: 1rem 10%;
	}
	
	p {
		padding: 0.5rem 0 1rem 0;
	}
	
	.grey-bg {
		display: none;
	}
	
	.img-block {
		margin: 0 auto;
		padding: 0;
	}

	.email-signup, .img-block.location {
		max-width: 100%;
	}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
